:root {
    /* gw-color 为基础颜色，原则上不允许添加、修改*/
    --gw-color-primary: #3875ff;
    --gw-color-primary1: #7af8ff;
    --gw-color-primary2: #eaf4f8;
    --gw-color-primary3: #abceff;
    --gw-color-primary4: #60a3ff;
    --gw-color-primary5: #38b7ff;
    --gw-color-primary6: #276bed;

    --gw-color-success: #13a212;
    --gw-color-success1: #dfffcf;
    --gw-color-success2: #4cff79;
    --gw-color-success3: #a9d77e;
    --gw-color-success4: #51c41c;
    --gw-color-success5: #387500;

    --gw-color-waning: #d08b00;
    --gw-color-waning1: #fffbe6;
    --gw-color-waning2: #ffe58f;
    --gw-color-waning3: #f8c161;
    --gw-color-waning4: #ff8f3a;

    --gw-color-danger: #f22433;
    --gw-color-danger1: #fff2f1;
    --gw-color-danger2: #fccec6;
    --gw-color-danger3: #ff484b;
    --gw-color-danger4: #9b2627;

    --gw-color-Neutrals1: #ffffff;
    --gw-color-Neutrals2: #f0f4ff;
    --gw-color-Neutrals3: #f0f0f0;
    --gw-color-Neutrals4: #dee1e5;
    --gw-color-Neutrals5: #bec6da;
    --gw-color-Neutrals6: #c1c1c1;
    --gw-color-Neutrals7: #b0b6bf;
    --gw-color-Neutrals8: #999999;
    --gw-color-Neutrals9: #95a2bd;
    --gw-color-Neutrals10: #4b6a8b;
    --gw-color-Neutrals11: #9399a6;
    --gw-color-Neutrals12: #8b8f97;
    --gw-color-Neutrals13: #848895;
    --gw-color-Neutrals14: #5e6576;
    --gw-color-Neutrals15: #264069;
    --gw-color-Neutrals16: #5b5e66;
    --gw-color-Neutrals17: #464954;
    --gw-color-Neutrals18: #3d4a63;
    --gw-color-Neutrals19: #3f495f;
    --gw-color-Neutrals20: #3b4357;
    --gw-color-Neutrals21: #29303f;
    --gw-color-Neutrals22: #272c3d;
    --gw-color-Neutrals23: #202534;
    --gw-color-Neutrals24: #1c2230;
    --gw-color-Neutrals25: #151a27;
    --gw-color-Neutrals26: #121622;
    --gw-color-Neutrals27: #0c0e14;

    /* 命名规则 参考BEM命名法*/
    /* --组件-元素-样式名__状态 */
    /* 样式名：color(字体颜色),background(背景色),border(边框色) */
    /* 状态：hover(悬浮),focus(聚焦),select、checked(选择)、...等 */

    /* 底部主背景色 */
    --frame-main-background: var(--gw-color-Neutrals26);
    --frame-main-background-black: var(--gw-color-Neutrals27);
    /* 弹窗内容深色背景 */
    --frame-main-background-1: var(--gw-color-Neutrals25);
    /* 内容区域背景 */
    --frame-main-background-2: var(--gw-color-Neutrals23);
    /* 内容header深色背景 */
    --frame-main-background-3: var(--gw-color-Neutrals21);
    /* 任务库 popover 背景 */
    --frame-main-background-4: var(--gw-color-Neutrals20);
    /* 主要字体色 */
    --frame-main-color: var(--gw-color-Neutrals2);
    /* 稍浅字体色 */
    --frame-main-color-1: var(--gw-color-Neutrals12);
    /* 主要边框色 */
    /* --bor-default =>  --border-color-2 =>*/
    --frame-main-border: var(--gw-color-Neutrals18);
    /* 稍浅边框色 */
    --frame-main-border1: var(--gw-color-Neutrals16);

    /* 顶部背景色 */
    --frame-top-background: var(--gw-color-Neutrals21);
    /* 左侧菜单背景色 */
    --frame-left-background: var(--gw-color-Neutrals23);

    /* 按钮主要颜色 */
    --button-primary-color: var(--gw-color-primary);
    --button-primary-background: var(--gw-color-primary);
    --button-primary-border-color: var(--gw-color-primary);

    /* message弹窗 */
    --message-background: var(--gw-color-Neutrals23);
    --message-border: var(--gw-color-Neutrals22);

    --message-box-background: var(--gw-color-Neutrals23);
    --message-box-color: var(--gw-color-Neutrals2);
    --message-box-button-color: var(--gw-color-Neutrals2);

    /* 通知弹窗 */
    --notification-color: var(--gw-color-Neutrals26);

    --loading-background: var(--gw-color-Neutrals26);

    /* 标签页 */
    --labelpage-header-background: var(--gw-color-Neutrals24);
    --labelpage-background: var(--gw-color-Neutrals24);
    --labelpage-background__active: var(--gw-color-Neutrals26);
    --labelpage-color: var(--gw-color-Neutrals12);
    --labelpage-color__active: var(--gw-color-Neutrals2);
    --labelpage-icon-color__hover: var(--gw-color-primary);
    --labelpage-border: var(--gw-color-Neutrals26);

    /* 设备相关标签页 */
    --equiptab-color: var(--gw-color-Neutrals12);
    --equiptab-color__active: var(--gw-color-Neutrals1);
    --tab-color: var(--gw-color-Neutrals12);
    --tab-color__active: var(--gw-color-Neutrals2);
    --tab-background: var(--gw-color-Neutrals16);
    --tab-background__active: var(--gw-color-primary);

    /* 实施快照标签页 */
    --snapshot-background: var(--gw-color-Neutrals26);
    --snapshot-background__active: var(--gw-color-Neutrals23);
    --snapshot-color__active: var(--gw-color-Neutrals2);

    /* 步骤组件 */
    --step-line-background: var(--gw-color-Neutrals22);
    --step-line-background__finish: var(--gw-color-primary);

    /* 菜单 */
    --menu-color: var(--gw-color-Neutrals12);
    --menu-color__hover: var(--gw-color-Neutrals2);
    --menu-color__active: var(--gw-color-Neutrals2);
    --menu-background__hover: var(--gw-color-Neutrals19);
    --menu-background__active: var(--gw-color-primary);
    --menu-popup-color: var(--gw-color-Neutrals12);
    --menu-popup-background: var(--gw-color-Neutrals21);
    --menu-popup-background__hover: var(--gw-color-Neutrals19);
    --menu-submenu-color: var(--gw-color-Neutrals2);

    /*form el-input 用于表单*/
    --form-input-color: var(--gw-color-Neutrals2);
    --form-input-background: var(--gw-color-Neutrals25);
    --form-input-background__disabled: var(--gw-color-Neutrals21);
    --form-input-autofill-shadow: var(--gw-color-Neutrals25);
    --input-number-background: var(--gw-color-Neutrals25);

    /*el-input 基础*/
    --input-color: var(--gw-color-Neutrals2);
    --input-background: var(--gw-color-Neutrals27);
    --input-background__disabled: var(--gw-color-Neutrals21);
    --input-placeholder: var(--gw-color-Neutrals12);
    --input-border: var(--gw-color-Neutrals18);
    --input-border__hover: var(--gw-color-Neutrals19);
    --input-border__focus: var(--gw-color-primary);
    --input-autofill-color: var(--gw-color-Neutrals2);
    --input-autofill-shadow: var(--gw-color-Neutrals27);
    --input-number-button-background: var(--gw-color-Neutrals20);

    /*form-item 表单项*/
    --form-item-color__error: var(--gw-color-danger);
    --form-label-color: var(--gw-color-Neutrals2);

    /*el-select 下拉框*/
    --select-tag-color: var(--gw-color-Neutrals12);
    --select-tag-background: var(--gw-color-Neutrals23);
    --select-dropdown-border: var(--gw-color-Neutrals22);
    --select-dropdown-background: var(--gw-color-Neutrals27);
    --select-dropdown-color: var(--gw-color-Neutrals1);
    --select-dropdown-color__selected: var(--gw-color-Neutrals1);
    --select-dropdown-item-background__hover: var(--gw-color-primary);

    --tag-background__success: var(--gw-color-primary);
    --tag-background__danger: var(--gw-color-danger);
    --tag-color: var(--gw-color-Neutrals27);

    /* 下拉菜单 */
    --dropdown-menu-background: var(--gw-color-Neutrals27);
    --dropdown-menu-background__hover: var(--gw-color-Neutrals20);
    --dropdown-menu-color: var(--gw-color-Neutrals1);
    --dropdown-menu-icon-color: var(--gw-color-Neutrals12);

    /*el-checkbox 多选框*/
    --checkbox-label-color: var(--gw-color-Neutrals2);
    --checkbox-label-color__checked: var(--gw-color-primary);
    --checkbox-label-color__disabled: var(--gw-color-Neutrals12);
    --checkbox-inner-after: var(--gw-color-Neutrals2);
    --checkbox-inner-border: var(--gw-color-Neutrals18);
    --checkbox-inner-background: var(--gw-color-Neutrals25);
    --checkbox-inner-border__checked: var(--gw-color-primary);

    /* el-radio 单选框*/
    --radio-label-color: var(--gw-color-Neutrals2);
    --radio-label-color__disabled: var(--gw-color-Neutrals12);
    --radio-inner-after: var(--gw-color-Neutrals2);
    --radio-inner-border: var(--gw-color-Neutrals18);
    --radio-inner-background: var(--gw-color-Neutrals25);
    --radio-inner-background___disabled: var(--gw-color-Neutrals12);
    --radio-inner-border__checked: var(--gw-color-primary);

    /* el-switch 滑块*/
    --switch-label-color: var(--gw-color-Neutrals2);
    --switch-core-border: var(--gw-color-Neutrals18);
    --switch-core-background: var(--gw-color-Neutrals25);
    --switch-core-border__active: var(--gw-color-primary);
    --switch-core-background__active: var(--gw-color-primary);
    --switch-core-after-background: var(--gw-color-Neutrals1);

    /* 弹出提示 基础 */
    --popper-background: var(--gw-color-Neutrals23);
    --poper-border: var(--gw-color-Neutrals22);
    --popper-tooltip-background: var(--gw-color-Neutrals27);
    --popper-button-background: var(--gw-color-Neutrals27);
    --popper-button-color: var(--gw-color-Neutrals2);

    /* 弹出框 */
    --popover-button-background__hover: var(--gw-color-primary);
    --popover-button-color__hover: var(--gw-color-Neutrals2);

    /* 提示框 */
    --tooltip-background: var(--gw-color-Neutrals27);
    --tooltip-color: var(--gw-color-Neutrals2);
    --tooltip-background__task: var(--gw-color-Neutrals21);

    /* 日期选择 */
    --datepicker-color: var(--gw-color-Neutrals2);
    --datepicker-color__hover: var(--gw-color-Neutrals21);
    --datepicker-icon-button-color: var(--gw-color-primary);
    --datepicker--table-header-color: var(--gw-color-Neutrals20);
    --datepicker-border: var(--gw-color-Neutrals22);
    --datepicker-background: var(--gw-color-Neutrals26);
    --datepicker-background_active: var(--gw-color-primary);
    --datepicker-background__inrange: var(--gw-color-Neutrals15);
    --datepicker-icon-btn-color: var(--gw-color-primary);
    --datepicker-month-background__hover: var(--gw-color-primary);
    --datepicker-month-color__checked: var(--gw-color-primary);
    --datepicker-month-background__disabled: var(--gw-color-Neutrals21);
    --datepicker-dooter-button-color__danger: var(--gw-color-danger);
    --datepicker-dooter-button-color__primary: var(--gw-color-primary);

    /* 弹出基础 */
    --dialog-background: var(--gw-color-Neutrals23);
    --dialog-border: var(--gw-color-Neutrals22);
    --dialog-color: var(--gw-color-Neutrals2);
    --dialog-footer-button-color: var(--gw-color-Neutrals2);
    --dialog-footer-button-color__primary: var(--gw-color-primary);

    /* 抽屉 */
    --drawer-background: var(--gw-color-Neutrals23);
    --drawer-border: var(--gw-color-Neutrals22);
    --drawer-color: var(--gw-color-Neutrals2);
    --drawer-footer-button-color: var(--gw-color-Neutrals2);
    --drawer-footer-button-color__primary: var(--gw-color-primary);

    /* 树型组件 */
    --tree-node-background: var(--gw-color-Neutrals23);
    --tree-node-background_transparent: transparent;
    --tree-node-background_select: var(--gw-color-Neutrals20);
    --tree-node-background_hover: var(--gw-color-Neutrals21);
    --tree-node-color: var(--gw-color-Neutrals2);
    --tree-node-color__select: var(--gw-color-primary);
    --tree-node-border: var(--gw-color-Neutrals18);
    --tree-node-border__select: var(--gw-color-primary);
    --tree-list-index-background: var(--gw-color-Neutrals21);
    --tree-list-index-color: var(--gw-color-Neutrals12);
    --tree-list-background__select: var(--gw-color-primary);

    /* 分页 */
    --page-color: var(--gw-color-Neutrals6);
    --page-color__disabled: var(--gw-color-Neutrals13);
    --page-color__active: var(--gw-color-Neutrals2);
    --page-background: var(--gw-color-Neutrals22);
    --page-background__active: var(--gw-color-primary);
    --page-border: var(--gw-color-Neutrals21);
    --page-border: var(--gw-color-Neutrals21);

    /* 表格基础 */
    --table-background: var(--gw-color-Neutrals23);
    --table-header-background: var(--gw-color-Neutrals21);
    --table-header-color: var(--gw-color-Neutrals12);
    --table-body-border: transparent;
    --table-body-color: var(--gw-color-Neutrals2);
    --table-body-background__strip1: var(--gw-color-Neutrals24);
    --table-body-background__strip2: var(--gw-color-Neutrals25);
    --table-body-background__hover: var(--gw-color-Neutrals20);

    /* 穿梭框 */
    --transfer-background: var(--gw-color-Neutrals25);
    --transfer-border: var(--gw-color-Neutrals18);
    --transfer-header-background: var(--gw-color-Neutrals21);

    /* fullcalendar 日历 */
    --fc-color: var(--gw-color-Neutrals2);
    --fc-button-background: var(--gw-color-Neutrals23);
    --fc-timelint-border: var(--gw-color-Neutrals18);
    --fc-timelint-background__active: var(--gw-color-primary);
    --fc-popover-background: var(--gw-color-Neutrals21);

    /* monoca 编辑器 */
    --editor-background: var(--gw-color-Neutrals25);
    --editor-background_select: var(--gw-color-primary);
    --editor-color: var(--gw-color-Neutrals2);
    --editor-border: var(--gw-color-Neutrals18);

    /* 滚动条 */
    --scrollbar-background: var(--gw-color-Neutrals21);
    --scrollbar-border: var(--gw-color-Neutrals18);

    --timeline-line-background: var(--gw-color-Neutrals12);
    --timeline-dot-background: var(--gw-color-Neutrals12);
    --timeline-dot-background__active: var(--gw-color-primary);
    --timeline-dot-border: var(--gw-color-Neutrals24);
    --timeline-dot-border__active: var(--gw-color-Neutrals15);
    --timeline-default: var(--gw-color-Neutrals18);

    --upload-tips-color: var(--frame-main-color);

    --contextmenu-background: var(--gw-color-Neutrals27);
    --contextmenu-background__hover: var(--gw-color-Neutrals20);
    --contextmenu-color: var(--gw-color-Neutrals1);
    --contextmenu-color__disabled: var(--gw-color-Neutrals12);
    --contextmenu-icon-color: var(--gw-color-Neutrals12);

    --loading-bgColor: rgb(18, 22, 34);
    --equipselect-header-background: var(--gw-color-Neutrals23);
    --equipselect-body-background: var(--gw-color-Neutrals26);

    --task-popper-background: var(--gw-color-Neutrals21);
    --task-popper-item-background: var(--gw-color-Neutrals20);
}
