.exportTypeSelect {
    .el-dialog__body {
        .el-select {
            width: 100%;
        }

        .el-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .right {
                flex: 1;
                margin-left: 10px;
            }
        }
    }
}