// 单行超出省略号
@mixin whiteSpace {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin verticalLine {
    width: 1px;
    height: 20px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 24px;
    border-right: 1px solid var(--frame-main-border);
}

@mixin titpsTxt {

    .el-form-item__error {
        height: 20px;
        text-indent: 15px;
        position: relative !important;
    }
}